numpy==1.19.0
bertopic 
hdbscan==0.8.29
joblib==1.2.0
matplotlib==3.7.1
nltk==3.7
pandas==1.5.3
pyLDAvis==3.4.0
scikit_learn==1.2.2
seaborn==0.12.2
sentence_transformers==2.2.2
tensorflow==2.10.0
umap==0.1.1
umap_learn==0.5.3
vaderSentiment==3.3.2